body{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

#computer{

    margin: 2em 0 2em 0;
    align-self: center;
}

#table{
    
    display:flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    background-color:green;
    width:350px;
    height:350px;
}

#player{

display: flex;
flex-direction: column;
 margin: 2em 0 2em 0;
align-self: center;
align-content: center;
  
}


.score{

    align-self: center;
}